<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <!--div class="calender-container">
		<div class="calander">
			<div class="calander-row">
				<div class="day active"><span>MON</span>12</div>
                <div class="day"><span>TUE</span>13</div>
                <div class="day"><span>WED</span>14</div>
                <div class="day"><span>THU</span>15</div>
                <div class="day"><span>FRI</span>16</div>
                <div class="day"><span>SAT</span>17</div>
                <div class="day"><span>SUN</span>18</div>
            </div>
        </div>
    </div>
    <div class="scrolling-wrapper">
      <ion-icon name="arrow-back" (click)="itemBack()"></ion-icon><div class="card"><div class="card-item">{{items[index].dia}}</div></div><ion-icon name="arrow-forward" (click)="itemForward()"></ion-icon>
    </div>
    <div>
      <h3>Horarios</h3>
      <p>{{items[index].hora_inicial}}</p>
    </div>
    <h3>{{ moment(data, "MM-DD-YYYY").format('DD/MM/YYYY')}}</h3-->

  <div class="space">
    <ion-icon name="arrow-back" (click)="itemBack()"></ion-icon>
      <div class="animated-text">
        <div *ngFor="let item of items; let i = index" id="{{ 'data' + i }}" class="line"  
          [style.margin-top]="'data' + i == 'data0' ? pxDate : ''">
          {{item.dia}}
        </div>
      </div>
    <ion-icon name="arrow-forward" (click)="itemForward()"></ion-icon>
  </div>
  <div *ngFor="let n of nomes" (click)="horarios(n)">
    {{ n }} 
  </div>
  <div *ngIf="horarios_array">
    Horarios
    <div *ngFor="let h of horarios_array">
      horario inicial: {{h.hora_inicial}}
    </div>
  </div>
</ion-content>
