page-home {
    /*.calender-container {
        width: calc(100% - 40px);
        overflow: hidden;
        padding-right: 30px;
        padding-left: 16px;
        padding-top: 16px;
        background: #fff;
    }
    .calander {
        width: 100%;
        overflow-x: auto;
        position: relative;
        .calander-row {
            width: 500px;
            padding-right: 30px;
            .day {
                border: 1px solid blue;
                width: 58px;
                float: left;
                position: relative;
                font-size: 2.5rem;
                font-weight: 600;
                text-align: center;
                height: 5rem;
                span {
                    display: block;
                    font-size: 1.1rem;
                    color: #6c6c6c;
                    font-weight: 300;
                }
                &::after {
                    content: '';
                    display: block;
                    width: 50%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    height: 3px;
                    background: #fff;
                }
                &.active {
                    &::after {
                        background: #ed1c24;
                    }
                }
            }
        }
    }*/
    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        text-align: center;
      
        .card {
          display: inline-block;

          .card-item {
              text-align: center;
              width: 30vh;
          }
        }
      }

    

    .space {
        text-align: center;
        border: 1px solid red;
        justify-content: center !important;
        align-items: center !important;

        ion-icon {
            border: 1px solid green;
        }
    }

    .animated-text{
        padding: 0 40px;
        height: 48px;
        overflow: hidden;
        display: inline-block;
        border: 1px solid blue;

    }
    
    .line{
        transition: 1s all;
        //text-transform: uppercase;
        text-align: center;
        font-size: 29px;
        line-height: 60px;
    }

}
